@import "core";

:host {
  display: block;
  position: relative;

  &.animate {
    opacity: 0;
    transform: rotate(-315deg) scale(0);
    transition: opacity 1s ease-in, transform 2s cubic-bezier(0.19, 1, 0.22, 1);

    &.active {
      opacity: 1;
      transform: rotate(0deg) scale(1);
    }
  }

  svg {
    width: 100%;
    height: 100%;
    transform: rotate(90deg);

    .segment, .unset {
      fill: none;
      stroke: rgba($black, .2);
      stroke-width: 14%;
    }

    .segment {
      @each $current-color in $chart-colors {
        $i: index($chart-colors, $current-color);
        &:nth-of-type(#{$i}) {
          stroke: $current-color;
        }
      }
    }

    .unset {
      stroke: rgba($black, .2);
    }
  }
}
