<section class="filter-items">
  <button class="filter-items-trigger" (click)="filterButtonClick()">filters ({{filterCount}})</button>
  <div wfc-search (searchTextChange)="searchChange($event)"></div>

  <div class="filter-items-chiclets-container" *ngIf="filterSelected.length">
    <wfc-chiclet *ngFor="let filter of filterSelected" [data]="filter"
                 (remove)="handleRemoveChiclet($event)"></wfc-chiclet>
  </div>
</section>

<div wfc-table #table
     [ngClass]="{'hide': noDataText !=='' }"
     [config]="configTable"
     [rows]="filteredRows"
     [pagination]="tablePagination"
     [customTableCellsComponents]="customTableCellComponents"
     [scrollable]="scrollable"
     (sortChange)="tableSortChange()"
     (cellClick)="handleTableCellClick($event)"
     (customCellAction)="handleCustomCellAction($event)">
</div>

<div class="error-content-wrapper" *ngIf="noDataText !==''">
  <wfc-icon *ngIf="noDataText" icon="icon-error-noresults"></wfc-icon>
  <h2>{{noDataText}}</h2>
  <button *ngIf="noDataText" class="button" (click)="handleClearSearchButtonClick()">Clear Search</button>
</div>

<div wfc-paginator
     [config]="configPaginator"
     [length]="data?.length"
     (pageChange)="paginatorChange($event)">
</div>

<wfc-filter [config]="configFilters"
            [table]="table"
            [rows]="data"
            [customFilterComponents]="customFilterComponents"
            (filterChange)="handleFilterChange($event)">
</wfc-filter>
