@import "core";

:host {
  font-size: em(16);
  width: 100%;

  .filter-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: em(15);
    width: 100%;

    &-trigger {
      font-size: em(11.1);
      font-weight: 600;
      text-align: center;
      color: $white;
      width: em(121.1, 11.1);
      height: em(32.3, 11.1);
      border-radius: em(3.2, 11.1);
      background: $orange1;
      border: none;
      text-transform: uppercase;
      cursor: pointer;

      @include mq(breakPointE) {
        font-size: em(12.7);
      }
    }

    &-chiclets-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      @include mq(breakPointD) {
        margin: em(15) 0 em(-5) 0;
      }
    }
  }

  [wfc-search] {
    flex: 1;

    @include mq(breakPointD) {
      margin: 0 0 0 em(20);
      flex: none;
    }
  }

  [wfc-paginator] {
    width: 100%;
    padding: em(12, 12) 0 0;

    @include mq(breakPointD) {
      padding: em(20, 12) 0 em(28, 12);
      justify-content: flex-end;
    }
  }

  .error-content-wrapper {
    color: $white;
    background: rgba(0, 0, 0, 0.1);
    padding: em(20) 0;
    border-radius: em(5);
    display: flex;
    flex-direction: column;
    align-items: center;

    & .icon {
      margin: 0 auto;
      width: em(43);
      height: auto;
    }

    & h2 {
      font-size: em(16);
      line-height: em(20);
      margin-top: em(25);
      max-width: em(250);
      text-align: center;
    }

    & .button {
      font-size: em(12);
      font-weight: bold;
      background: transparent;
      border: em(2, 12) solid $white;
      color: $white;
      border-radius: em(5, 12);
      padding: em(10, 12) em(15, 12);
      margin: em(25, 12) auto 0 auto;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
