@import "core";

:host {
  font-size: em(16);
  display: flex;

  .user-selection-date {
    font-size: em(12);
    color: $gray3;
    text-transform: uppercase;
    border: 1px solid $white;
    border-radius: em(3, 12);
    padding: em(10, 12) em(8, 12);
    width: em(170, 12);
    cursor: pointer;
    user-select: none;

    &:first-of-type {
      margin-right: em(15, 12);
    }

    &.with-selection {
      color: $white;
    }
  }
}
