@import 'core';

:host {
  font-size: em(16);
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: em(5);
  color: $white;
  display: flex;
  justify-content: center;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: em(20) 0;
  }

  .icon {
    margin: 0 auto;
    width: em(43);
    height: auto;
  }

  h2 {
    font-size: em(16);
    line-height: em(20);
    margin-top: em(25);
    width: 100%;
    max-width: em(250);
    text-align: center;
  }

  .button {
    font-size: em(12);
    font-weight: bold;
    background: transparent;
    border: em(2, 12) solid $white;
    color: $white;
    border-radius: em(5, 12);
    padding: em(10, 12) em(15, 12);
    margin: em(25, 12) auto 0 auto;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
  }
}
