<!--header cell-->
<ng-container *ngIf="isHeader; else nonHeader">

  <ng-container *ngIf="!column.customHeaderCellId; else customCell">
    <a href="#" *ngIf="canSort; else justValue"
       class="sortable"
       [ngClass]="{ 'ascending': order === 'ascending', 'descending': order === 'descending' }"
       (click)="handleHeaderCellClick($event)">
      {{value}}
      <wfc-icon *ngIf="order !== 'none'" icon="icon-arrow-down"></wfc-icon>
      <wfc-icon *ngIf="order === 'none' && canSort" icon="icon-unfold-more"></wfc-icon>
    </a>
  </ng-container>

</ng-container>

<!--regular cell-->
<ng-template #nonHeader>
  <label *ngIf="showLabel" class="table-cell-label">{{column.label}}</label>

  <ng-container *ngIf="!column.customCellId; else customCell">
    <a href="#" *ngIf="column.isLink; else justValue" (click)="handleCellClick($event, rowData)">
      <ng-container [ngTemplateOutlet]="justValue"></ng-container>
    </a>
  </ng-container>

</ng-template>

<ng-template #justValue>
  {{formatData(column, value)}}
</ng-template>

<ng-template #customCell wfcPortalHost></ng-template>
