<header class="filter-header">
  <h2 class="filter-header-title">{{label}}</h2>
  <a href="#" class="filter-header-button"
     *ngIf="showAll"
     (click)="handleShowAllClick($event, key)">{{!showAllExpanded ? 'Show All' : 'Show Less'}}</a>
</header>

<div class="filter-content">

  <ng-container *ngFor="let item of items">

    <wfc-checkbox
      *ngIf="item['type'] !== 'custom' && item['type'] !== 'datepicker'"
      [label]="item['label']"
      [name]="key"
      [value]="item['value']"
      [checked]="item['checked']"
      (checkboxChange)="handleCheckboxChange($event)"></wfc-checkbox>

    <ng-container *ngIf="item['type'] === 'datepicker'">
      <label *ngIf="item['label']">{{item['label']}}</label>
      <wfc-date-picker
        [rangeSelection]="item.config?.rangeSelection || false"
        [dateFormat]="item.config?.dateFormat || 'MMM dd yyyy'"
        [mondayFirstDayOfWeek]="item.config?.mondayFirstDayOfWeek || false"
        [selectDateButtonLabel]="item.config?.selectDateButtonLabel || ((item.config?.rangeSelection || false) ? 'Select Dates' : 'Select Date')"
        [resetButtonLabel]="item.config?.resetButtonLabel || 'Reset'"
        [showResetButton]="item.config?.showResetButton || true"
        [minDate]="item.config?.minDate"
        [maxDate]="item.config?.maxDate"
        [selectedDate]="item.config?.selectedDate"
        (dateSelected)="handleDateChange($event, key, label, item.config?.dateFormat || 'MMM dd yyyy', item.config?.rangeSelection || false)"></wfc-date-picker>
    </ng-container>

    <ng-template *ngIf="item['type'] === 'custom'" wfcPortalHost></ng-template>
  </ng-container>

  <ng-template #filterContent></ng-template>
</div>
