<div class="container">
  <header class="header">
    <h2 class="header-title">Refined by</h2>
    <a href="#" class="header-close" (click)="closeClick($event)">Close</a>
  </header>
  <div class="scroll-wrapper">
    <section wfc-filter-section *ngFor="let group of orderedFilters"
             [label]="group.label"
             [key]="group.key"
             [group]="group"
             [items]="group.itemsToShow"
             [showAll]="trimOptions < group.length"
             [customComponentContent]="group.itemsToShow && group.itemsToShow[0]?.customComponent"
             [showAllExpanded]="sectionIsExpanded(group.key)"
             (checkboxChange)="handleCheckboxChange($event)"
             (dateChange)="handleDateChange($event)"
             (showAllClick)="handleSectionShowAllClick($event)"
             (customFilterChange)="handleCustomFilterChange()"
             (customComponentInstantiated)="handleCustomComponentInstantiated($event)"
             (customFilterAdded)="addCustomFilter($event)"
             (customFilterRemoved)="removeFilter($event, false)"></section>
  </div>
</div>
<div class="overlay" (click)="closeClick($event)"></div>
