<wfc-radio-button name="range" value="7" label="Last 7 Days" (radioButtonChange)="handleRadioButtonChange($event)"></wfc-radio-button>
<wfc-radio-button name="range" value="30" label="Last 30 Days" (radioButtonChange)="handleRadioButtonChange($event)"></wfc-radio-button>
<wfc-radio-button name="range" value="60" label="Last 60 Days" (radioButtonChange)="handleRadioButtonChange($event)"></wfc-radio-button>
<wfc-radio-button name="range" value="customRange" label="Custom Date Range" (radioButtonChange)="handleRadioButtonChange($event)"></wfc-radio-button>
<wfc-date-picker rangeSelection="true" (dateSelected)="handleDateSelected()"></wfc-date-picker>
