@import "core";

:host {
  font-size: em(16);
  position: relative;

  .radio {

    &-label {
      font-size: em(14);
      position: relative;
      line-height: em(18, 14);
      display: block;
      color: $white;
      margin: em(7, 14) 0;
      padding-left: em(30, 14);
      user-select: none;
      cursor: pointer;
    }

    &-input {
      border: 0;
      clip: rect(0 0 0 0);
      height: em(1);
      margin: em(-1);
      overflow: hidden;
      position: absolute;
      text-transform: none;
      width: em(1);

      // When the checkbox is checked, add a blue background
      &:checked ~.radio-checkmark {
        border: 0;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: em(18);
          height: em(18);
          background: $blue3;
          border-radius: 50%;
        }
      }
    }

    &-checkmark {
      position: absolute;
      left: 0;
      top: em(2);
      height: em(18);
      width: em(18);
      border: em(2) solid $white;
      border-radius: 50%;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }
  }
}
