<!--table header-->
<div wfc-table-row class="table-header" #headerRow>
  <div wfc-table-cell class="table-cell table-cell-header" #headerCell
       *ngFor="let column of orderedColumns; let first = first; let i = index;"
       [ngClass]="{
          'table-cell-first': first,
          'table-cell-first-shadow': first && scrollableBehavior,
          'table-cell-left': orderedColumns[i].alignText === 'left',
          'table-cell-right': orderedColumns[i].alignText === 'right'
       }"
       [isHeader]="true"
       [column]="column"
       [value]="column.label"
       [order]="sort.column === i ? sort.order : 'none'"
       [parentElement]="elementRef"
       [customComponentContent]="getCustomCellContent(i, true)"
       (headerCellClick)="headerClick(column)"
       (customCellAction)="handleCustomCellAction($event)">
  </div>
</div>

<!--table rows-->
<div wfc-table-row *ngFor="let row of processedRows" class="table-row">
  <div wfc-table-cell class="table-cell" #contentRows
       *ngFor="let cell of row; let first = first; let i = index;"
       [ngClass]="{
         'table-cell-first': first,
         'table-cell-first-shadow': first && scrollableBehavior,
         'table-cell-left': orderedColumns[i].alignText === 'left',
         'table-cell-right': orderedColumns[i].alignText === 'right'
       }"
       [column]="orderedColumns[i]"
       [value]="cell"
       [showLabel]="isSmallView"
       [rowData]="row"
       [first]="first"
       [parentElement]="elementRef"
       [customComponentContent]="getCustomCellContent(i)"
       (cellClick)="handleCellClick($event)"
       (customCellAction)="handleCustomCellAction($event)">
  </div>
</div>
