@import "core";

$arrow-size: 15;

:host {
  font-size: em(16);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: em(55);

  a {
    padding: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;

    .icon {
      width: em(25);
      height: em(25);

      /deep/ svg path {
        fill: $blue5;
      }
    }
  }

  .action-menu {
    font-size: em(16);
    background: $gray1;
    padding: em(6) 0;
    border-radius: em(6);
    z-index: 1;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    opacity: 0;

    &.open {
      opacity: 1;
    }

    &:after { // https://css-tricks.com/the-shapes-of-css/
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      right: 0;
    }

    &.left.bottom {
      right: em(26);
      top: em(35);
      border-top-right-radius: 0;

      &:after {
        border-bottom: em($arrow-size) solid $gray1;
        border-left: em($arrow-size) solid transparent;
        top: em(-$arrow-size);
        right: 0;
      }
    }

    &.left.top {
      right: em(26);
      bottom: em(35);
      border-bottom-right-radius: 0;

      &:after {
        border-top: em($arrow-size) solid $gray1;
        border-left: em($arrow-size) solid transparent;
        bottom: em(-$arrow-size);
        right: 0;
      }
    }

    /deep/ [wfc-menu-item] {
      font-weight: 600;
    }
  }
}
