<p>register works!</p>

<form [formGroup]="registerFormGroup">
  <!-- value: {{ registerFormGroup.value | json }} -->

  <mat-form-field style="width: 60%">
    <mat-label>First name</mat-label>
    <input matInput placeholder="Alex" formControlName="firstName"/>
    <mat-error *ngIf="!registerFormGroup.get('firstName').valid" class="has-text-danger">
      First Name Should be 2 Minimum Characters
  </mat-error>
  </mat-form-field>

  <mat-form-field style="width: 60%">
    <mat-label>Last name</mat-label>
    <input matInput placeholder="Scott" formControlName="lastName"/>
  </mat-form-field>

  <mat-form-field style="width: 60%">
    <mat-label>Email</mat-label>
    <input matInput placeholder="abc@mnc.com" formControlName="email"/>
  </mat-form-field>

  <mat-form-field style="width: 60%;">
    <input matInput type="password" placeholder="Password" formControlName="password" autocomplete="new-password">

    <mat-hint align="left">Must have one letter, and one number</mat-hint>
    <mat-error *ngIf="registerFormGroup.get('password').hasError('required')" class="has-text-danger">
        Password is required
    </mat-error>

</mat-form-field>

  <!-- <mat-slide-toggle style="width: 60%;" formControlName="sendCatalog">Send Catalog</mat-slide-toggle> -->

  <mat-form-field style="width: 60%;">
    <mat-label>Address</mat-label>
    <mat-select formControlName="address">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let a of address" [value]="a.value">
        {{a.label}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="registerFormGroup.get('address').hasError('required')" class="has-text-danger">
      Password is required
  </mat-error>
  </mat-form-field>
  
  <mat-slide-toggle style="width: 60%;" formControlName="sendCatalog" (change)="sliderOnChange($event)">Send Catalog</mat-slide-toggle>

  
</form>
<button mat-raised-button (click)="clicked()">Test patch</button>
<p>value: {{ registerFormGroup.value | json }}</p>
